body {
background-size: cover;
position: relative;
height: 100%;
background-image: url("../img/picture2.jpg");
}

header {
  text-align: center;
  font-family: 'Roboto Mono', arial;

  color: black;
}

.header-text {
  color: #ececec;
  text-shadow:2px 2px red;
}

.twitter, .github, .linkedin {
  width: 40px;
  height: 40px;
}

.github {
  background-color: white;
}
